body {
    background-color: oldlace;
    text-align: center
}
h1 { 
    text-shadow: 2px 2px black;
    font-family: fantasy;
    font-weight: bold;
    font-size: 60px;
    color: purple;
}
#instructions {
    font-family: cursive;
    font-size: 15px; 
}
#wandL,
#total {
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
}
#yourScore {
    text-align: center;
    width: 150px;
    height: 75px;
    margin: auto;
    border-style: dotted;
    border-width: 5px;
}